- provide(:title, 'Edit user')
%h1 Update your profile

.row
  .gravatar-edit.columns.two
    = gravatar_for @user, size: 115
    %p
      %a{ href: "http://gravatar.com/emails", target: "_blank", class: "button"} change

  .columns.ten
    = form_for @user do |f|
      = render 'shared/error_messages'

      = f.label :name
      = f.text_field :name, class: 'u-full-width'

      = f.label :email
      = f.email_field :email, class: 'u-full-width'

      = f.label :password
      = f.password_field :password, class: 'u-full-width'

      = f.label :password_confirmation, 'Confirmation'
      = f.password_field :password_confirmation, class: 'u-full-width'

      = f.submit 'Save changes', class: 'button button-primary'