- provide(:title, 'Dashboard')

#dialog{style: 'display: none;'}
  %h2 jksajld
  %p sadkadj

%h1 Dashboard

.row
  .columns.three
    - if @list
      = form_for @list do |f|
        .row
          .columns.twelve
            = f.text_field :title, placeholder: 'Add new list', class: 'u-full-width'
          .columns.twelve
            = f.submit 'Add list', class: 'button button-primary u-full-width'
    %ul= render partial: "lists/list", collection: @lists, locals: {active_list: @list_id}
  .columns.nine#items
    - if @item
      = form_for @item, remote: true, :authenticity_token => true, id: "item-form" do |f|
        = f.hidden_field :list_id, :value => @list_id ? @list_id : 1
        .row
          .columns.nine
            = f.text_field :content, placeholder: 'Add new url', class: 'u-full-width'
          .columns.three
            = f.submit 'Add item', class: 'button button-primary u-full-width'
    = render partial: "items/item", collection: @items, locals: {active_list: @list_id}

